<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="row" th:fragment="header">
    <div class=" col-md-4">
        <a href="/home" th:href="@{/home}">
            <img src="images/baner.jpg" title="Logo Care Assistant" alt="Logo Care Assistant"/>
        </a>
    </div>
    <div class="col-md-8">



        <!--Login or register buttons-->
        <div th:if="${session.user == null}" style="float: right;">
            <a href="#" data-toggle="modal" data-target="#login-modal">
                <button type="button" class="btn btn-primary"><b>Sign In</b>
                </button>
            </a>
            or
            <a href="/register" th:href="@{/register}">
                <button type="button" class="btn btn-primary"><b>Register</b>
                </button>
            </a>
        </div>

        <!--Logged user-->
        <div th:if="${session.user != null}" style="float: right;">
            <span th:text="${session.user.user.login}" th:unless="${session == null}"></span>
            <a href="/logout" th:href="@{/logout}">
                <button type="button" class="btn btn-primary"><b>Logout</b>
                </button>
            </a>
        </div>

        <!--Login form-->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                    <form action="/login" method="POST">
                        <input type="text" name="user" placeholder="Username or Email">
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>

                    <div class="login-help">
                        <a href="/register" th:href="@{/register}">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Text in banner-->
        <div class="page-header">
            <h1>
                Care Assistant
                <small>Application for seniors</small>
            </h1>
        </div>
    </div>
</div>

</body>
</html>
