<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="tab" id="location" th:fragment="location">
    <!-- table with localizations -->
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
            <tr class="bg-primary">
                <th style="width: 30%">Lattitude</th>
                <th style="width: 30%">Longitude</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="localization : ${localizations}">
                <td th:text="${localization.latitude}">
                    name
                </td>
                <td th:text="${localization.longitude}">
                    content
                </td>
                <td th:text="${localization.time}">
                    date
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>