<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<div class="tab" id="savedLocation" th:fragment="savedLocation">
    <!-- table with localizations -->
    <div class="col-md-10 col-md-offset-1">


        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10256.050726284506!2d22.67201469666653!3d50.011117518462406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1520367183073" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>





        <table class="table">
            <thead>
            <tr class="bg-primary">
                <th style="width: 30%">Lattitude</th>
                <th style="width: 30%">Longitude</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="localization : ${savedLocalizations}">
                <td th:text="${localization.latitude}">
                    name
                </td>
                <td th:text="${localization.longitude}">
                    content
                </td>
                <td th:text="${localization.name}">
                    date
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>