<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Senior Care Assistant!</title>

    <meta name="description" content="Application for care of seniors.">
    <meta name="author" content="Arkadiusz Groch">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--LIST OF SENIORS-->
            <div class="btn-group"  th:if="${listOfSeniors != null}">

                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                    List of Seniors
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li th:each="senior : ${listOfSeniors}" th:text="${senior}" class="active">txt
                        <a href="#">Another action</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Manage the list of seniors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>