<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Senior Care Assistant!</title>

    <meta name="description" content="Application for care of seniors.">
    <meta name="author" content="Arkadiusz Groch">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--LIST OF SENIORS-->
            <div class="dropdown" th:if="${listOfSeniors != null}">
                <!--Infor choose senior-->
                <div class="alert alert-info">
                    <center>Choose senior from below list.</a>.</center>
                </div>
                <!--List of seniors-->
                <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">List of Seniors
                    <span class="caret"></span></button>
                <ul class="dropdown-menu btn-block">
                    <center><b>
                        <a class="list-group-item list-group-item-info" th:each="senior : ${listOfSeniors}"
                           th:href="${senior.id + '/notifications'}">
                            <li th:text="${senior.user.firstName + ' ' + senior.user.lastName}" class="active">txt

                            </li>
                        </a>
                    </b></center>

                    <li class="divider">
                    </li>
                    <a class="list-group-item list-group-item-warning" th:href="@{/manage}">
                        <li th:text="${'Manage the list of seniors'}">
                        </li>
                    </a>
                </ul>
            </div>

            <!--Message section-->
            <div class="alert alert-success" th:if="${messageSuccess != null}">
                <center><span th:text="${messageSuccess}"/></center>
            </div>
            <div class="alert alert-danger" th:if="${messageFail != null}">
                <center><span th:text="${messageFail}"/></center>
            </div>

            <!--LIST OF SENIRS IS EMPTY-->
            <div class="dropdown" th:if="${listOfSeniors == null}">
                <div class="alert alert-info"><center>Please add senior to list!</center></div>
                <!--ADD SENIOR TO LIST-->
                <div>
                    <form class="form-inline" action="#" th:action="@{/manage/add}" method="post">
                        <div class="form-group">
                            <label for="loginOrEmail">Email or login:</label>
                            <input type="text" name="loginOrEmail" id="loginOrEmail"/>
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add
                            senior
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>