<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Senior Care Assistant!</title>

    <meta name="description" content="Application for care of seniors.">
    <meta name="author" content="Arkadiusz Groch">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>

                <h4>New User Registration</h4>

                <form autocomplete="off" action="#" th:action="@{/login}"
                      method="post" class="m-t" role="form">

                    <div th:if="${confirmationMessage}" class="alert alert-success"
                         role="alert" th:text=${confirmationMessage}></div>

                    <div th:if="${errorMessage}"
                         class="alert alert-danger" role="alert"
                         th:text="${errorMessage}"></div>

                    <!-- LOGIN-->
                    <div class="form-group input-group has-feedback">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>

                        <input type="text" name = "user"
                               placeholder="Login" class="form-control" required/>
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>
                    </div>

                    <!--PASSWORD-->
                    <div class="form-group input-group has-feedback">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>

                        <input type="password" name="password"
                               placeholder="Password" class="form-control" required/>
                        <span class="glyphicon form-control-feedback"
                              aria-hidden="true"></span>
                    </div>

                    <button type="submit"
                            class="btn btn-primary block full-width m-b">Login
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="js/scripts.js"></script>
</body>
</html>