<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Senior Care Assistant!</title>

    <meta name="description" content="Application for care of seniors.">
    <meta name="author" content="Arkadiusz Groch">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--MESSAGE-->
            <div class="alert alert-success" th:if="${messageSuccess != null}">
            <span th:text="${messageSuccess}"/>
        </div>
            <div class="alert alert-success" th:if="${messageFail != null}">
                <span th:text="${messageFail}"/>
            </div>
            <!--ADD SENIOR TO LIST-->
            <div class="col-md-4 col-md-offset-4">
                <form class="form-inline" action="#" th:action="@{/add}" th:object="${seedStarter}" method="post">
                    <div class="form-group">
                        <label for="seniorLoginOrEmail">Email address:</label>
                        <input type="text" name="loginOrEmail" id="seniorLoginOrEmail"/>
                    </div>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add
                        senior
                    </button>

                </form>
            </div>
            <!--LIST OF SENIORS-->
            <table class="table">
                <thead>
                <tr class="info">
                    <th>Login</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="senior : ${listOfSeniors}">
                    <td th:text="${senior.user.login}">Login</td>
                    <td th:text="${senior.user.firstName}">Firstname</td>
                    <td th:text="${senior.user.lastName}">Lastname</td>
                    <td>
                        <a th:href="${'manage/remove/' + senior.user.login}">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>

    <script src="js/scripts.js"></script>
</body>
</html>