<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:include="fragments/headFragment :: headFragment"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--MESSAGE-->
            <div class="alert alert-success" th:if="${messageSuccess != null}">
            <span th:text="${messageSuccess}"/>
        </div>
            <div class="alert alert-success" th:if="${messageFail != null}">
                <span th:text="${messageFail}"/>
            </div>
            <!--ADD SENIOR TO LIST-->
                <form class="form-inline" action="#" th:action="@{/manage/add}" th:object="${seedStarter}" method="post">
                    <div class="form-group">
                        <label for="seniorLoginOrEmail">Email address:</label>
                        <input type="text" name="loginOrEmail" id="seniorLoginOrEmail"/>
                    </div>
                    <button type="submit" class="bg-primary btn"><span class="glyphicon glyphicon-plus"></span>Add
                        senior
                    </button>
                </form>
            <!--LIST OF SENIORS-->
            <table class="table">
                <thead>
                <tr class="bg-primary">
                    <th>Login</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="senior : ${listOfSeniors}">
                    <td th:text="${senior.user.login}">Login</td>
                    <td th:text="${senior.user.firstName}">Firstname</td>
                    <td th:text="${senior.user.lastName}">Lastname</td>
                    <td>
                        <a th:href="${'manage/remove/' + senior.user.login}">
                            <button type="button" class="btn btn-danger btn-block">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>