<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:include="fragments/headFragment :: headFragment"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="col-md-12">
        <!-- right panel with menu -->
        <div class="row">
            <center>
                <h2 th:text="${senior.user.firstName + ' ' + senior.user.lastName}" class="text-primary">
                    First name and last name senior
                </h2></center>
            <div class="row">
                <ul class="tabs">
                    <li class="bg-primary btn" style="width:24%"><a href="#notification"><em
                            class="glyphicon glyphicon-bell">Notifications</em></a></li>
                    <li class="bg-primary btn" style="width:24%"><a href="#location"><em
                            class="glyphicon glyphicon-map-marker">Locatlization</em></a></li>
                    <li class="bg-primary btn" style="width:24%"><a href="#settings"><em
                            class="glyphicon glyphicon-wrench">Settings</em></a></li>
                    <li class="bg-primary btn" style="width:24%"><a href="#contacts"><em
                            class="glyphicon glyphicon-earphone">Contacts</em></a></li>
                </ul>
            </div>

            <div class="tab-content">
                <!--table with notifications-->
                <div class="col-md-9" th:replace="fragments/notificationsFragment :: tableNotification"></div>
                <!--localization-->
                <div class="col-md-9" th:replace="fragments/locationFragment :: location"></div>
                <!--settings-->
                <div class="col-md-9" th:replace="fragments/settingsFragment :: settings"></div>
                <!--contact-->
                <div class="col-md-9" th:replace="fragments/contactFragment :: help"></div>
            </div>
            <script th:inline="javascript">
            /*<![CDATA[*/
            var tabs = $('.tabs');

            $('.tab').hide();

            tabs.find('a').on('click', function(e){
                e.preventDefault();
                $(this).addClass('current');
                $(this.hash).show().siblings().hide();
            }).first().click();

            /*]]>*/

            </script>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>